.view_container {
  background-color: var(--blue-bg);
  width: 100vw;
}

.text_header {
  margin: 0;
}

.link_container {
  color: var(--blue-accent);
}

.list_item {
  opacity: 0;
  transform: translateX(8rem);
  transition: all 1s;
  transition-delay: 1000ms;
}

.fade_in {
  opacity: 1;
  transform: translateX(0);
}

.fade_in:nth-child(1) {
  transition-delay: 2000ms;
}
.fade_in:nth-child(2) {
  transition-delay: 2250ms;
}
.fade_in:nth-child(3) {
  transition-delay: 2500ms;
}
.fade_in:nth-child(4) {
  transition-delay: 2750ms;
}
.fade_in:nth-child(5) {
  transition-delay: 3000ms;
}
.fade_in:nth-child(6) {
  transition-delay: 3250ms;
}
.fade_in:nth-child(7) {
  transition-delay: 3500ms;
}
.fade_in:nth-child(8) {
  transition-delay: 3750ms;
}
.fade_in:nth-child(9) {
  transition-delay: 4000ms;
}
