.view_container {
  background-color: var(--orange-bg);
}

.pre_row_container {
  position: absolute;
  left: 50%;
}

.row_container {
  display: flex;
  justify-content: center;
}

.first_row_container {
  margin-top: 8rem;
}

.contact_item_container {
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
  background-color: var(--orange-accent);
  margin: 3rem;
}

.dot {
  position: absolute;
  transition: left 2s, top 2s;
  background-color: white;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
