html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: Dune;
  src: url("/Dune_Rise.otf");
}

@font-face {
  font-family: Cocomat;
  src: url("/Cocomat_Pro_Medium.otf");
}

h1 {
  color: white;
  font: bold 48px Dune;
}

h2 {
  color: white;
  font: bold 42px Dune;
}

p,
li {
  color: white;
  font: lighter 22px Cocomat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --pastel-blue-bg: rgb(172, 237, 255);
  --pastel-blue-darker-bg: rgb(82, 217, 255);
  --dark-blue-bg: rgb(3, 41, 79);
  --dark-blue-accent: rgb(47, 151, 243);
  --scarlet-bg: rgb(252, 58, 1);
  --scarlet-accent-1: rgb(254, 116, 74);
  --scarlet-accent-2: rgb(254, 172, 146);
  --scarlet-accent-3: rgb(181, 43, 1);
  --orange-bg: rgb(253, 180, 0);
  --orange-accent: rgb(255, 209, 91);
  --blue-bg: rgb(26, 171, 218);
  --blue-accent: rgb(18, 77, 156);
  --mobile-max-width: 1000px;
}

.visible_view {
  z-index: 100;
}

.hidden_view {
  z-index: 0;
}
