html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --pastel-red-bg: #ffa9a9;
  --pastel-orange-bg: #fedd9e;
  --pastel-green-bg: #ceffc9;
  --pastel-blue-bg: #caf1ff;
}

.visible_view {
  z-index: 100;
}

.hidden_view {
  z-index: 0;
}
