.view_container {
  background-color: var(--scarlet-bg);
}

.content_container {
  display: flex;
  height: calc(100vh - 384px);
}

.exp_list_item_container {
  background-color: var(--scarlet-accent-1);
  width: 375px;
  border-radius: 8px;
  cursor: pointer;
}

.exp_list_item {
  padding: 1.5rem;
  margin: 0 0 1rem;
  border-radius: 8px;
  outline-width: 0;
  transition: 0.5s outline ease-in-out;
}

.selected_exp_list_item {
  outline: 4px solid var(--scarlet-accent-2);
  transition: 0.5s outline ease-in-out;
}

.exp_container {
  background-color: var(--scarlet-accent-1);
  outline: 4px solid var(--scarlet-accent-2);
  border-radius: 8px;
  min-width: calc(100vw - 375px - 22rem);
  margin-left: 10rem;
}
