.view_container {
  background-color: var(--scarlet-bg);
}

.content_container {
  display: flex;
  max-height: calc(100vh - 10rem);
}

.exp_list_container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 8px;
  min-width: 375px;
}

.exp_list_item_container {
  background-color: var(--scarlet-accent-1);
  border-radius: 8px;
  cursor: pointer;
}

.exp_list_item_container:nth-child(n):nth-child(-n + 6) {
  margin-bottom: 1rem;
}

.exp_list_item {
  padding: 1rem;
  margin: 0;
  border-radius: 8px;
}

.selected_exp_list_item {
  outline: 4px solid var(--scarlet-accent-2);
}

.exp_container {
  background-color: var(--scarlet-accent-1);
  outline: 4px solid var(--scarlet-accent-2);
  margin: 8px 8px 8px 16px;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  overflow: scroll;
}

.exp_image {
  text-align: center;
}

.exp_link {
  color: var(--scarlet-accent-3);
  font-weight: bold;
}
