.view_container {
  background-color: var(--scarlet-bg);
}

.content_container {
  display: flex;
  height: calc(39.4rem);
}

.exp_list_item_container {
  background-color: var(--scarlet-accent-1);
  width: 375px;
  border-radius: 8px;
  cursor: grab;
}

.exp_list_item_container:active {
  cursor: grabbing;
}

.exp_list_item {
  padding: 1.5rem;
  margin: 0 0 1rem;
  border-radius: 8px;
}

.selected_exp_list_item {
  outline: 4px solid var(--scarlet-accent-2);
}

.exp_container {
  background-color: var(--scarlet-accent-1);
  outline: 4px solid var(--scarlet-accent-2);
  border-radius: 8px;
  min-width: calc(100vw - 375px - 22rem);
  max-width: calc(100vw - 375px - 22rem);
  margin-left: 12rem;
  padding: 1rem;
  overflow: scroll;
}

.exp_image {
  text-align: center;
}

.exp_link {
  color: var(--scarlet-bg);
}
